<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<h1>Editing <%= @student.first_name %> <%= @student.last_name %></h1>
<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p><%= error %></p>
	<% end %>
<% end %>
<form method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
	<p><label for="branch">First Name: </label>
	<input type="text" name="student_form[first_name]" value="<%= @student.first_name %>"></p>
	<p><label for="branch">Last Name: </label>
	<input type="text" name="student_form[last_name]" value="<%= @student.last_name %>"></p>
	<p><label for="branch">Email Address: </label>
	<input type="text" name="student_form[email]" value="<%= @student.email %>"></p>
	<p> Dojo: <select name="student_form[dojo_id]">
		<option value="<%= @dojo.id %>"><%= @dojo.city %></option>
		<% @dojos.each do |dojo| %>
			<% if dojo.id != @dojo.id %>
		<option value="<%= dojo.id %>"><%= dojo.city %></option>
			<% end %>
		<% end %>
	</select>
	</p>
	<input type="submit" name="submit" value="Update">
</form>
<p><a href="<%= dojos_path %>">Home</a> | <a href="javascript:history.back()"><%= @student.first_name %></a></p>